@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #050507;
  color: rgb(248 250 252);
}

@keyframes thermal-rise {
  0% {
    opacity: 0;
    bottom: -120vh;
  }

  40% {
    opacity: 1;
    bottom: -25vh;
  }

  70% {
    bottom: -12vh;
  }

  100% {
    opacity: 1;
    bottom: -18vh;
  }
}

.thermal-blob {
  position: absolute;
  left: 50%;
  bottom: -120vh;
  width: 260%;
  aspect-ratio: 1 / 1;
  transform: translateX(-50%);
  filter: blur(110px);
  will-change: transform, opacity;
  /* Temporarily disable masking for Safari reliability; can be re-added once confirmed */
  /* -webkit-mask-image: linear-gradient(
   *   to bottom,
   *   transparent 0%,
   *   black 5%,
   *   black 100%
   * );
   * mask-image: linear-gradient(to bottom, transparent 0%, black 5%, black 100%);
   */
  animation: thermal-rise 2.4s cubic-bezier(0.22, 0.61, 0.21, 1) forwards;
}


