@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #050507;
  color: rgb(248 250 252);
}

@keyframes thermal-rise {
  0% {
    opacity: 0;
    transform: translate(-50%, 80vh);
  }

  40% {
    opacity: 1;
    transform: translate(-50%, 10vh);
  }

  70% {
    transform: translate(-50%, 0);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 5vh);
  }
}

.thermal-blob {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 350%;
  aspect-ratio: 1 / 1;
  transform: translate(-50%, 80vh);
  filter: blur(70px);
  will-change: transform, opacity;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 5%,
    black 100%
  );
  mask-image: linear-gradient(to bottom, transparent 0%, black 5%, black 100%);
  animation: thermal-rise 2.4s cubic-bezier(0.22, 0.61, 0.21, 1) forwards;
}


