@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  background-color: #050507;
  color: rgb(248 250 252);
}

@keyframes thermal-rise {
  0% {
    opacity: 0;
    bottom: -120vh;
  }

  40% {
    opacity: 1;
    bottom: -45vh;
  }

  70% {
    bottom: -34vh;
  }

  100% {
    opacity: 1;
    bottom: -38vh;
  }
}

.thermal-blob {
  position: absolute;
  left: 50%;
  bottom: -120vh;
  width: 200%;
  aspect-ratio: 1 / 1;
  transform: translateX(-50%);
  filter: blur(120px);
  will-change: transform, opacity;
  mix-blend-mode: screen;
  animation: thermal-rise 2.4s cubic-bezier(0.22, 0.61, 0.21, 1) forwards;
}


